# File di sistema
.DS_Store
*.p12
*.key
*.mobileprovision
*.orig.*
*.log

# Node/Expo
node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json
yarn.lock

# Android/iOS
android/
ios/
**/*.apk
**/*.aab
**/*.ipa

# Environment variables
.env
.env.local

# Debug
coverage/
*.map
*.xcconfig

# Expo specific
.expo-shared/
.expo/
web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Risorse generate
assets/__generated__/